@font-face {
    font-family: "iran-sans";
    src: url("../assets/font/iran-sans.ttf");
}

@font-face {
    font-family: "vasir";
    src: url("./../assets/font/vasir.woff2");
}

@font-face {
    font-family: "yekan";
    src: url("../assets/font/yekan.ttf");
}