:root {
  --primary-color: #edf5ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.row{
  margin: 0;
}

svg {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

html {
  font-size: 62.5%;
  /* overflow-x: hidden; */
}

body {
  font-size: 1.6rem;
  line-height: 1.4;
  background-color: var(--primary-color);
  /* padding-top: 6.5rem; */
  font-family: "iran-sans";
  /* overflow-x: hidden; */
}

/*
************
  components
************
*/

.section-info {
  text-align: center;
  margin-bottom: 5rem;
}
.section-info__text {
  color: #506cea;
  font-size: 1.4rem;
}
.section-info__title {
  color: #000;
  margin: 1rem 0;
  margin-bottom: 5rem;
  position: relative;
  font-size: 3rem;
}

.section-info__title::before {
  content: "";
  position: absolute;
  width: 7rem;
  height: 0.3rem;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  background-color: #506cea;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -2.5rem;
}
.section-info__caption {
  color: #6f8ba4;
  max-width: 63rem;
  margin: 0 auto;
  font-size: 1.5rem;
}

/*
*************
  helper classes
*************
*/

.orange-background{
  background-color: #f06334 !important;
}

/*
************
  styles
************
*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #2e39bf;
  border-bottom: 0.5px solid #d8d0d0;
  z-index: 100000;
  transition: color 0.3s, background-color 1s, font-size 6s 10s;
  -webkit-transition: color 0.3s, background-color 1s, font-size 6s 10s;
  -moz-transition: color 0.3s, background-color 1s, font-size 6s 10s;
  -ms-transition: color 0.3s, background-color 1s, font-size 6s 10s;
  -o-transition: color 0.3s, background-color 1s, font-size 6s 10s;
}

.sticky-nav {
  background-color: #d7dfef;
  transition: color 0.3s, background-color 1s, font-size 6s 10s;
  -webkit-transition: color 0.3s, background-color 1s, font-size 6s 2s;
  -moz-transition: color 0.3s, background-color 1s, font-size 6s 2s;
  -ms-transition: color 0.3s, background-color 1s, font-size 6s 2s;
  -o-transition: color 0.3s, background-color 1s, font-size 6s 2s;
  box-shadow: 0 1rem 6rem #000;
  height: 5rem;
}

.sticky-nav .nav__logo,
.sticky-nav .menu__link {
  color: #000;
}

.sticky-nav .menu__link {
  font-size: 1.4rem;
}

.sticky-nav .nav__logo {
  font-size: 1.8rem;
}

.sticky-nav .hamburger-menu__line {
  background-color: #000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0;
}

.nav__logo {
  font-size: 3rem;
  color: #fff;
}

.hamburger-menu {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-13deg);
  -webkit-transform: rotate(-13deg);
  -moz-transform: rotate(-13deg);
  -ms-transform: rotate(-13deg);
  -o-transform: rotate(-13deg);
  cursor: pointer;
}

.hamburger-menu__line {
  width: 3rem;
  height: 0.3rem;
  background-color: #fff;
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  position: relative;
  left: 1rem;
}

.hamburger-menu__line::before,
.hamburger-menu__line::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background-color: inherit;
  border-radius: inherit;
  -webkit-border-radius: inherit;
  -moz-border-radius: inherit;
  -ms-border-radius: inherit;
  -o-border-radius: inherit;
}

.hamburger-menu__line::before {
  bottom: 0.9rem;
  left: -1rem;
}

.hamburger-menu__line::after {
  top: 0.9rem;
  left: -1rem;
}

/* .hamburger-menu--fade .hamburger-menu__line{
    width: 5rem;
    left: 6rem;
}

.hamburger-menu--fade .hamburger-menu__line{

} */

.menu {
  display: none;
}

.menu__item {
  margin: 0 1rem;
}

.menu__item:last-child {
  margin: 0;
}
.menu__link {
  position: relative;
  padding: 1rem 0;
  color: #fff;
  font-family: "yekan";
}

.menu__link::before {
  content: "";
  position: absolute;
  background-color: red;
  width: 0;
  height: 0.2rem;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: width 0.2s ease-in-out;
  -webkit-transition: width 0.2s ease-in-out;
  -moz-transition: width 0.2s ease-in-out;
  -ms-transition: width 0.2s ease-in-out;
  -o-transition: width 0.2s ease-in-out;
}

.menu__link:hover::before {
  width: 100%;
}

/*
***********
    main
***********
*/
.main {
}

/*
***********
    home section
***********
*/

.home {
  background-color: #2e39bf;
  color: #fff;
  padding-top: 8.5rem;
  position: relative;
  margin-bottom: 10rem;
  min-height: 100vh;
  /* overflow: hidden; */
}
/* .home >  *{
  z-index: 100;
}
.home::before{
  content: "";
  position: absolute;
  background-color: rgba(37,46,176,1);
  width: 150%;
  height: 700px;
  display: inline-block;
  transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  z-index: 0;
  left: 0;
} */

.home-content__blockquote {
  font-size: 1.5rem;
  color: cyan;
  position: relative;
  max-width: 31rem;
}
.home-content__blockquote::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 0.1rem;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  left: -4.5rem;
  top: 1.4rem;

  background-color: cyan;
}

.home-content__title {
  font-size: 3.6rem;
  margin: 5rem 0;
}
.home-content__caption {
  font-size: 1.8rem;
  color: #d8d0d0; /*  .g-text  */
}
.home-content__btns {
  margin-top: 4rem;
}
.btn {
  padding: 1rem 3.5rem;
  background-image: linear-gradient(
    to right,
    #21d397 0%,
    #7450fe 50%,
    #21d397 100%
  );
  border-radius: 10rem;
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
  color: #fff;
  font-size: 1.2rem;
}

.features {
  margin-bottom: 10rem;
}

.feature {
  margin-bottom: 3rem;
  padding: 3rem;
  border-radius: 0 5rem 0 5rem;
  -webkit-border-radius: 0 5rem 0 5rem;
  -moz-border-radius: 0 5rem 0 5rem;
  -ms-border-radius: 0 5rem 0 5rem;
  -o-border-radius: 0 5rem 0 5rem;
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.feature:hover {
  background-color: #2e39bf;
  color: #fff !important;
}
.feature:hover:hover > * {
  color: #fff;
}

.feature i {
  font-size: 5rem;
  color: #2e39bf;
}

.feature__title {
  font-size: 2rem;
  font-family: "yekan";
  margin: 3rem 0;
}
.feature__caption {
  color: #6f8ba4;
  font-size: 1.6rem;
  font-family: "vasir";
}

/*
************
  sevices
************
*/

.services {
  margin-bottom: 10rem;
}
.service {
  padding: 3rem;
  background-color: #fff;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.service:hover {
  background-color: #01bf81;
}

.service:hover .service__title,
.service:hover .service__caption {
  color: #fff;
}

.service i {
  text-align: center;
  font-size: 4rem;
  display: block;
  margin: 0 auto;
  width: 8rem;
  height: 8rem;
  line-height: 8rem;
  color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.service__title {
  margin: 3rem 0;
  font-family: "yekan";
  font-size: 3rem;
}
.service__caption {
  font-family: "vasir";
  font-size: 1.6rem;
  color: #6f8ba4;
}

.services-tabs {
  margin: 3rem 0;
  border-bottom: 1px solid #6f8ba4;
  padding-bottom: 3rem;
}

.services-tab {
  text-align: center;
  margin-bottom: 2rem;
  cursor: pointer;
  color: #000;
  transition: all.3s ease-in-out;
  -webkit-transition: all.3s ease-in-out;
  -moz-transition: all.3s ease-in-out;
  -ms-transition: all.3s ease-in-out;
  -o-transition: all.3s ease-in-out;
}

.services-tab i {
  display: block;
  margin: 0 auto;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  background-color: #e8ebef;
  font-size: 4rem;
  line-height: 8rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-bottom: 1.5rem;
  transition: all.3s ease-in-out;
  -webkit-transition: all.3s ease-in-out;
  -moz-transition: all.3s ease-in-out;
  -ms-transition: all.3s ease-in-out;
  -o-transition: all.3s ease-in-out;
}

.services-tab:hover {
  color: #2e39bf;
}

.services-tab:hover i {
  background-color: #2e3abf;
  color: #fff;
}

.services-tab--active {
  color: #2e39bf;
}
.services-tab--active i {
  color: #fff;
  background: #2e39bf;
}

.tab__title {
  font-size: 1.8rem;
  font-family: "vasir";
}

.services-tab-content {
}

.services-tab-content {
  display: none;
  padding: 1rem;
}

.services-tab-content--show {
  display: flex;
}

.services-tab-content__info {
  height: 100%;
}
.services-tab-content__title {
  font-family: "yekan";
  font-size: 2.3rem;
  font-weight: 100;
}
.services-tab-content__caption {
  font-family: "vasir";
  margin: 2rem 0;
  font-size: 1.6rem;
  color: #6f8ba4;
}

.services-tab-content__list {
  margin-top: 3rem;
  padding: 0;
}
.sevices-tab-content__list-item {
  margin: 0.5rem 0;
  font-size: 1.4rem;
}

.sevices-tab-content__list-item i {
  font-size: 3rem;
  color: #2e39bf;
}

.services-tab-content__img img {
  width: 100%;
  height: 100%;
}


.funfacts{
  background-color: rgb(81, 194, 194);
  margin: 5rem 0;
  padding: 10rem 0;
  overflow: hidden;
}

.funfact{
  text-align: center;
  color: #fff;
  position: relative;
  padding: 1rem 0;
  transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  cursor: pointer;
  margin: 3rem 0;
}

.funfact i{
  font-size: 3rem;
  border: 1px solid #fff;
  width: 5rem;
  display: block;
  margin: 0 auto;
  height: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  background: #fff;
  color: #2e3abf;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}
.funfact__amount{
  font-size: 2.5rem;
  font-family: "vasir";
  margin: 2rem 0;
}
.funfact__title{
  font-size: 1.8rem;
  font-family: "yekan";
}

.funfact:hover{
  transform: translateY(-1.5rem);
  -webkit-transform: translateY(-1.5rem);
  -moz-transform: translateY(-1.5rem);
  -ms-transform: translateY(-1.5rem);
  -o-transform: translateY(-1.5rem);
}
.funfact:hover i{
  background-color: transparent;
  color: #fff;
}


.join-us{

}
.join-us__content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-right: 2rem;
}
.join-us__title{
  font-family: "yekan";
  font-size: 2.3rem;
  font-weight: 100;
}
.join-us__caption{
  font-family: "vasir";
  margin: 3rem 0;
  font-size: 1.6rem;
  color: #6f8ba4;
}
.join-us__links{
  display: flex;
  gap: 1.5rem;
}

.join-us__link{
  font-family: "vasir";
  padding: .8rem 1.6rem;
  background-color: #2e3abf;
  color: #fff;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
}

.join-us__link:hover{
  color: #fff;
}